<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Tienda | Formulario de Registro de prendas</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/styles/inventarioPrendas.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body class="principal">

    <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">     
      <br>
      <div class="container div-encabezado"> 
		<h4 class="card-header div-encabezado letra"><strong>Registro de prendas</strong></h4>   
        <div class="card div-interno">          
          <div class="alert alert-warning" th:if="${mensaje != null}" th:text="${mensaje}" role="alert"></div>                    
          <div class="card-body letra">
            <form th:action="@{/inventario/guardar}" th:method="post" th:object="${prenda}"> 
              <input type="hidden" th:field="*{id}">  
              <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
              		Favor de corregir los siguientes errores:
              		<ul>
              			<li th:each="err : ${#fields.errors('*')} " th:text="${err}" />
              		</ul>
              </div>
                       
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Código</label>
                    <input type="text" class="form-control" th:field="*{codigo}" id="codigo" name="codigo" placeholder="Escriba el código de barras" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Marca</label>
                    <input type="text" class="form-control" th:field="*{marca}" id="marca" name="marca" placeholder="Escriba la marca" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Modelo</label>
                    <input type="text" class="form-control" th:field="*{modelo}" id="modelo" name="modelo" placeholder="Escriba el modelo" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="talla">Talla</label>
                    <select class="form-control" th:field="*{talla}" name="talla" id="talla">
                      <option value="0">--Seleccione--</option>
                      <option value="28">28</option>
                      <option value="30">30</option>
                      <option value="32">32</option>
                      <option value="34">34</option>
                      <option value="36">36</option>
                      <option value="38">38</option>
                      <option value="40">40</option>
                      <option value="42">42</option>
                      <option value="44">44</option>
                      <option value="46">46</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select class="form-control" name="categoria" id="categoria" th:field="*{categoria.id}">
                      <option th:each="categoria: ${categorias}"
                      		  th:value="${categoria.id}"
                      		  th:text="${categoria.nombre}"></option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Precio de Compra</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{precioCompra}" name="precioCompra" placeholder="Escriba su nombre" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Precio de Venta</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{precioVenta}" name="precioVenta" placeholder="Escriba su nombre" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Estatus</label>
                    <select class="form-control" name="estatus" id="estatus" th:field="*{estatus}">
                      <option value="Disponible">Disponible</option>
                      <option value="Vendida">Vendida</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12"> 
                    <div class="form-group">
                      <label for="detalles"><strong>Características</strong></label>          
                      <textarea class="form-control" th:field="*{caracteristicas}" name="caracteristicas" id="caracteristicas" rows="4"></textarea>
                    </div> 
                  </div>
                 
              </div>                  
              <hr>
              <button type="submit" title="Guardar prenda" class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>