<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Tienda | Formulario de Registro de apartados</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/styles/inventarioPrendas.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body class="principal">

    <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">
      <hr>
      <div class="container"> 

        <div class="row">
          <div class="col-md-3 col-sm-8">            
          	<div class="container div-encabezado">
          		<h4 class="card-header div-encabezado letra"><strong>Prenda Apartada</strong></h4>
	           <div class="card-body div-interno">
	                <h5 class="card-title"><strong>Inventario: </strong> <span th:text="${prenda.codigo}"></span></h5>
	                <h6 class="card-title"><strong>Marca: </strong> <span th:text="${prenda.marca}"></span></h6>                
	                <h6 class="card-title"><strong>Modelo: </strong><span th:text="${prenda.modelo}"></span></h6>
	                <h6 class="card-title"><strong>Talla: </strong><span th:text="${prenda.talla}"></span></h6>
	                <h6 class="card-title"><strong>Categoría: </strong><span th:text="${prenda.talla}"></span></h6>
	                <h6 class="card-title"><strong>Precio: </strong><span th:text="'$' + ${#numbers.formatDecimal(prenda.precioVenta, 0, 'COMMA', 2, 'POINT')}"></span></h6>
					<h6 class="card-title"><strong>Características: </strong><span th:text="${prenda.caracteristicas}"></span></h6>                            
	              </div>
          	</div>           
          </div>
          <div class="col-md-9">
            <div class="container div-encabezado"> 
				<h4 class="card-header div-encabezado letra"><strong>Crear Apartado</strong></h4>   
		        <div class="card div-interno">          
		          <div class="alert alert-warning" th:if="${mensaje != null}" th:text="${mensaje}" role="alert"></div>                    
		          <div class="card-body letra">
		            <form name="inventario" id="inventario" th:object="${apartados}" method="post" th:action="@{/apartados/guardar}"> 
		              <input type="hidden" name="codigo" id="codigo" th:field="${prenda.codigo}">  
		               <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
		              		Favor de corregir los siguientes errores:
		              		<ul>
		              			<li th:each="err : ${#fields.errors('*')} " th:text="${err}" />
		              		</ul>
		              </div>
		                       
		              <div class="row">
		                <div class="col-md-4"> 
		                  <div class="form-group">
		                    <label for="nombre">Nombre</label>
		                    <input type="text" maxlength="100" class="form-control input-in" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Escriba el nombre del cliente" required="required">
		                  </div>
		                </div>
		                <div class="col-md-4"> 
		                  <div class="form-group">
		                    <label for="telefono">Teléfono</label>
		                    <input type="text" maxlength="10" class="form-control input-in" th:field="*{telefono}" id="telefono" name="telefono" placeholder="Escriba el teléfono del cliente" required="required">
		                  </div>
		                </div>
		                <div class="col-md-4"> 
		                  <div class="">
		                    <label for="abono">Abono Inicial</label>
		                    <input type="text" class="form-control input-in" id="abono" name="abono" placeholder="Escriba el abono inicial" required="required">
		                  </div>
		                </div> 
		                <div class="col-lg-3 ">
		                    <button type="submit" title="Crear Apartado" class="btn btn-primary">Guardar</button>
		                  </div> 
		             </div>
		           </form>
		          </div>
         		</div>
         	</div>
         </div>
        </div>

      </div>
    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
    <script>
 	    /**Convertir las cadenas en mayúsculas */
	    $(document).ready(function() {
	    	$("input").on("keypress", function() {
	    		$input = $(this);
	    		setTimeout(function() {
	    			$input.val($input.val().toUpperCase());
	    		}, 50);
	    	});
	    })
		inventario = document.querySelector('#inventario');	    
	    /**Permite sólo números */
	    inventario.abono.addEventListener('keypress', function(e) {
	    	if (!soloNumeros(event)) {
	    		e.preventDefault();
	    	}
	    });
	    inventario.telefono.addEventListener('keypress', function(e) {
	    	if (!soloNumeros(event)) {
	    		e.preventDefault();
	    	}
	    });
	 	//Solo permite introducir numeros.
	    function soloNumeros(e) {
	    	var key = e.charCode;
	    	//console.log(key);
	    	return (key >= 48 && key <= 57) || key == 46;
	    }
     </script>      
  </body>
</html>