<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Tienda | Apartados</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/styles/inventarioPrendas.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  </head>

 <body  class="principal">
    
    <header th:insert="fragments/menu :: menu-principal"></header>
	<main role="main" >  
	<br>   
       <div class="container div-encabezado">
          <h4 class="card-header div-encabezado" ><strong>Apartar Prenda</strong></h4>    
          <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
          </div>       
          <div class="card-body div-interno">
            <form id="inventario" name="inventario" method="post" th:action="@{/apartados/agregar}" th:object="${prenda}">              
              <div class="row">
                <div class="col-md-5"> 
                  <div class="form-group">
                    <label for="nombre">Código de barras</label>
                    <input autofocus autocomplete="off" type="text" class="form-control input-in" th:field="*{codigo}" id="codigo" name="codigo" placeholder="Código de barras" required="required">
                  </div>
                </div>
              </div>  
            </form>
            <form th:action="@{/vender/terminar}" method="post">  
              <div class="row">                
                    <div class="col-md-2" th:if="${#lists.isEmpty(session.carritoApartados)}" >
                    	<button type="button" class="btn btn-primary" disabled>Generar Apartado</button> 
                    </div>
                    <div class="col-md-2" th:unless="${#lists.isEmpty(session.carritoApartados)}" >
                    	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNuevoApartado" >Generar Apartado</button> 
                    </div>
                    <div class="col-md-1" ><a class="btn btn-danger" onclick="return(confirm('Estás seguro de cancelar la venta?'))" th:href="@{/apartados/cancelar}">Cancelar</a></div>                  
              </div>  
            </form>  
              <div class="row">
                <div class="col-md-5"> 
                  <div class="form-group">
                  	<h5 id="numPrendas">Número de prendas apartadas: <strong th:text="${numPrendas}"></strong></h5>
                    <h1 id="total">Total: $<strong th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}"></strong></h1>
                  </div>
                </div>
              </div> 
              <hr>
              <div class="card-body">
                <table class="table table-hover">
                    <thead class="table-head">
                        <tr>
                        <th scope="col">Inventario</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Talla</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prenda, it : ${session.carritoApartados}">
	                        <th scope="row" th:text="${prenda.codigo}"></th>
	                        <td th:text="${prenda.marca}"></td>
	                        <td th:text="${prenda.modelo}"></td>
	                        <td th:text="${prenda.talla}"></td>
	                        <td th:text="${prenda.categoria.nombre}"></td>
	                        <td th:text="'$'+${#numbers.formatDecimal(prenda.precioVenta, 0, 'COMMA', 2, 'POINT')}"></td>
	                        <td>
	                            <form th:action="@{/apartados/quitar/} + ${it.index}" method="post">
		                            <button type="submit" class="btn btn-danger">Eliminar</button>
		                        </form>
	                        </td>
                        </tr>         
                    </tbody>
                </table>
              </div> 
          </div>
      </div> <!-- /container -->
	  <!-- Modal -->
	  <div class="modal fade" id="modalNuevoApartado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content  div-encabezado">
		      <div class="modal-header">
		        <h4 class="modal-title div-encabezado" id="exampleModalLabel">Nuevo apartado</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form id="apartado" th:action="@{/apartados/terminar}" method="post">
			      <div class="modal-body div-interno-modal">
			        <div class="form-group">
			          <label for="recipient-name" class="col-form-label">Nombre del cliente:</label>
			          <input autofocus autocomplete="off"  type="text" name="nombreCliente" id="nombreCliente" class="form-control" placeholder="Nombre del cliente" required="required">
			        </div>
			        <div class="form-group">
			          <label for="recipient-name" class="col-form-label">Teléfono del cliente:</label>
			          <input autofocus autocomplete="off" maxlength="10" type="text" id="telefonoCliente" name="telefonoCliente" placeholder="Teléfono del cliente" class="form-control">
			        </div>
			        <div class="form-group">
			            <label for="recipient-name" class="col-form-label">Fecha:</label>
			            <input type="text" autocomplete="off" class="form-control" id="fechaApartado" name="fechaApartado" placeholder="Fecha de apartado" required="required">
			          </div>
			        <div class="form-group">
			            <label for="recipient-name" class="col-form-label">Abono Inicial:</label>
			            <input type="text" autocomplete="off" class="form-control" id="abono" name="abono" placeholder="Abono Inicial" required="required">
			          </div>		
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			        <button type="submit" class="btn btn-primary">Generar Apartado</button>
			      </div>
			  </form>
		    </div>
		  </div>
	  </div>
	  <!-- /Modal -->
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>    
    <script>
    	var form = document.querySelector('#apartado');
    	
    	$('#modalNuevoApartado').on('show.bs.modal', function (event) {
    		$("#nombreCliente").val("");
    		$("#telefonoCliente").val("");
    		$("#fechaApartado").val("");
    		$("#abono").val("");
      	})
      	
    	$(document).ready(function() {
    		$("input").on("keypress", function() {
    			$input = $(this);
    			setTimeout(function() {
    				$input.val($input.val().toUpperCase());
    			}, 50);
    		});
    	})
    	
    	form.telefonoCliente.addEventListener('keypress', function(e) {
    		if (!soloNumeros(event)) {
    			e.preventDefault();
    		}
    	});
    	form.abono.addEventListener('keypress', function(e) {
    		if (!soloNumeros(event)) {
    			e.preventDefault();
    		}
    	});
    	//Solo permite introducir numeros.
    	function soloNumeros(e) {
    		var key = e.charCode;
    		//console.log(key);
    		return (key >= 48 && key <= 57) || key == 46;
    	}
    	
    	$("#fechaApartado").datepicker({dateFormat: 'dd-mm-yy'});
    	
    </script>
  </body>
</html>