<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Tienda | Abonar a apartados</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/styles/inventarioPrendas.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  </head>

  <body class="principal">

    <header th:insert="fragments/menu :: menu-principal"></header>

	<main role="main">
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="container div-encabezado">
							<form name="inventario" id="inventario" method="post" th:action="@{/categoria/guardar}" th:object="${categoria}">
								<input type="hidden" th:field="*{id}">
								  <div class="row">
						                <div class="col-md-6"> 
						                  <div class="form-group">
						                    <label for="nombre">Nombre</label>
						                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Escriba el nombre de la categoria" required="required">
						                  </div>
						                </div>                
					              </div> 
						          <hr>
						          <button type="submit" title="Guardar el registro." class="btn btn-primary">Guardar</button>  
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>    
    
  </body>
</html>