<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Tienda | Historico de Ventas</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link th:href="@{/styles/inventarioPrendas.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  </head>

  <body class="principal">
  	<header th:insert="fragments/menu :: menu-principal"></header>
    <main role="main">     
      <hr>
      <div class="container div-encabezado"> 
         <h4 class="card-header div-encabezado"><strong>Historial de Ventas</strong></h4>              
          <div class="card-body div-interno">
          	<form th:action="@{/ventas/buscar}" method="post">
          	 <div class="row">
                <div class="col-md-2"> 
                	<label for="desde">Desde</label>
                    <input type="text" autocomplete="off" class="form-control" id="desde" name="desde" placeholder="Buscar desde" required="required">
                </div>
                <div class="col-md-2"> 
                	<label for="hasta">Hasta</label>
                    <input type="text" autocomplete="off" class="form-control" id="hasta" name="hasta" placeholder="Buscar hasta" required="required">
                </div>
                <div class="col-md-1"> 
                	<label for="buscar"> </label>
                    <input type="submit" name="buscar" id="buscar" class="btn btn-primary" value="Buscar">         
                </div>  
                <div class="col-md-1"> 
                	<a class="btn btn-primary" th:href="@{/ventas/export/excel/{desde}/{hasta} (desde=${fechaDesde}, hasta=${fechaHasta})}" role="button"><i class="fas fa-file" aria-hidden="true"></i> Exportar</a>         
                </div>            
              </div>
            </form>            
            <hr>
            <div class="row">
                <div class="col-md-3"> 
                    <label th:text="'Prendas vendidos: ' + ${totalPrendas != null ? totalPrendas : ''}"></label>
                    <label th:text="'Total de venta: $' + ${totalVentas != null ? #numbers.formatDecimal(totalVentas, 0, 'COMMA', 2, 'POINT') : ''}"></label>
                </div>           
              </div>            
            <hr>
            <table class="table table-hover">
              <thead class="table-head">
                <tr>
                  <th scope="col">Inventario</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Modelo</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Vendedor</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Fecha de Venta</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="prendaVendida : ${ventas}">
                  <td th:text="${prendaVendida.prenda.codigo}"></td>
                  <td th:text="${prendaVendida.prenda.marca}"></td>
                  <td th:text="${prendaVendida.prenda.modelo}"></td>
                  <td th:text="${prendaVendida.prenda.categoria.nombre}"></td>
                  <td th:text="${prendaVendida.usuario.nombre}"></td>
                  <td th:text="'$' + ${#numbers.formatDecimal(prendaVendida.precio, 0, 'COMMA', 2, 'POINT')}"></td>
                  <td th:text="${#dates.format(prendaVendida.venta.fecha, 'dd-MM-yyyy')}"></td>
                </tr>
              </tbody>
            </table>            
          </div>
      </div> <!-- /container -->

    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>    
    <script th:src="@{/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/js/util.js}"></script>
    <script>      
        $(function () {
            $("#desde").datepicker({dateFormat: 'dd-mm-yy'});
            $("#hasta").datepicker({dateFormat: 'dd-mm-yy'});
          }
        );
      </script>
  </body>
</html>