<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Tienda | Historico de Ventas</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link th:href="@{/styles/inventarioPrendas.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
    <style>
    	.my-custom-scrollbar {
			position: relative;
			height: 250px;
			overflow: auto;
		}
		.table-wrapper-scroll-y {
			display: block;
		}
    </style>
  </head>

  <body class="principal">
  	<header th:insert="fragments/menu :: menu-principal"></header>
    <main role="main">     
      <hr>
      <div class="container div-encabezado"> 
         <h4 class="card-header div-encabezado"><strong>Historial de Ventas</strong></h4>    
         <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
          </div>                    
          <div class="card-body div-interno">
         	 <form th:action="@{/ventas/buscar}" method="post">
         	 	<div class="form-row">
	                <div class="form-group col-md-2"> 
	                	<label for="desde">Desde</label>
	                    <input type="text" autocomplete="off" th:value="${fechaDesde}" class="form-control" id="desde" name="desde" placeholder="Buscar desde" required="required">
	                </div>
	                <div class="form-group col-md-2"> 
	                	<label for="hasta">Hasta</label>
	                    <input type="text" autocomplete="off" th:value="${fechaHasta}" class="form-control" id="hasta" name="hasta" placeholder="Buscar hasta" required="required">
	                </div>
	                <div class="form-group col-sm-1"> 
	                	<label for="buscar"></label>
	                	<input type="submit" name="buscar" id="buscar" class="btn btn-primary form-control" value="Buscar">         
	                </div>
	                <div class="form-group col-sm-1"> 
	                	<label for="exportar"></label>
	                	<button name="buscar" id="buscar" class="btn btn-primary form-control" onClick="return exportar()">Exportar</button>         
	                </div> 
              	</div> 
            </form>           
            <form id="formExportar" th:action="@{/ventas/export/excel}" method="post" >
         		<input type="hidden" id="hdDesde" name="hdDesde" >
         		<input type="hidden" id="hdHasta" name="hdHasta" >
            </form>          
            <hr>
            <div class="row">
                <div class="col-md-3"> 
                    <label th:text="'Prendas vendidas: ' + ${totalPrendas != null ? totalPrendas : ''}"></label>
                    <label th:text="'Prendas apartadas/liquidadas: ' + ${totalApartados != null ? totalApartados : ''}"></label>
                    <label th:text="'Total de venta: $' + ${totalVentas != null ? #numbers.formatDecimal(totalVentas, 0, 'COMMA', 2, 'POINT') : ''}"></label>
                </div>           
              </div>            
            <hr>
            <label th:text="Vendidas"></label>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover table-striped mb-0">
              <thead class="table-head">
                <tr>
                  <th scope="col">Inventario</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Modelo</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Vendedor</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Fecha de Venta</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="prendaVendida : ${ventas}">
                  <td th:text="${prendaVendida.prenda.codigo}"></td>
                  <td th:text="${prendaVendida.prenda.marca}"></td>
                  <td th:text="${prendaVendida.prenda.modelo}"></td>
                  <td th:text="${prendaVendida.prenda.categoria.nombre}"></td>
                  <td th:text="${prendaVendida.usuario.nombre}"></td>
                  <td th:text="'$' + ${#numbers.formatDecimal(prendaVendida.precio, 0, 'COMMA', 2, 'POINT')}"></td>
                  <td th:text="${#dates.format(prendaVendida.venta.fecha, 'dd-MM-yyyy')}"></td>
                  <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCambioFecha" th:data-id="${prendaVendida.id}">Modificar Fecha</button>
                    <a class="btn btn-danger" onClick="return(confirm('¿Estás seguro de cancelar la venta?'))" th:href="@{/ventas/cancelar/{id} (id = ${prendaVendida.id})}">Cancelar</a>
                  </td>
                </tr>
              </tbody>
            </table>   
            </div>
            <hr>
            <label th:text="Abonos"></label>
            <table class="table table-hover">
              <thead class="table-head">
                <tr>
                  <th scope="col">Fecha Apartado</th>
                  <th scope="col">Nombre del Cliente</th>
                  <th scope="col">Fecha de Abono</th>
                  <th scope="col">Importe</th>
                  <th scope="col">Detalle</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="apartadoAbono: ${apartados}" >
                  <td th:text="${#dates.format(apartadoAbono.fechaApartado, 'dd-MM-yyyy')}"></td>
                  <td th:text="${apartadoAbono.nombreCliente}"></td>
                  <td th:text="${#dates.format(apartadoAbono.fechaAbono, 'dd-MM-yyyy')}"></td>			                  
                  <td th:text="${apartadoAbono.importe}"></td>
                  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDetalle" 
                  			  th:data-id="${apartadoAbono.idApartado}"
                  			  th:data-nombre="${apartadoAbono.nombreCliente}" >Detalle</button></td>
                </tr>           
              </tbody>
            </table> 
          </div>
      </div> <!-- /container -->
	  <!-- Modal -->
	  <div class="modal fade" id="modalCambioFecha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content   div-encabezado">
		      <div class="modal-header  div-encabezado">
		        <h4 class="modal-title" id="exampleModalLabel">Modificar fecha de venta</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form th:action="@{/ventas/actualiza_fecha}" method="post">
			      <div class="modal-body  div-interno-modal">
			          <input type="hidden" id="idPrendaVendida" name="idPrendaVendida" class="codigo" />
			          <input type="hidden" id="hdDesde" class="desde" name="desde"/>
			          <input type="hidden" id="hdHasta" class="hasta" name="hasta"/>
			          <div class="form-group">
			            <label for="recipient-name" class="col-form-label">Fecha:</label>
			            <input type="text" autocomplete="off" class="form-control" id="fVenta" name="fVenta" placeholder="Fecha de venta" required="required">
			          </div>
			          <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				        <button type="submit" class="btn btn-primary">Modificar</button>
				      </div>		        
			      </div>
			      
		      </form>
		    </div>
		  </div>
		</div>
	  <!-- /Modal -->
	  <!-- Modal -->
	  <div class="modal fade" id="modalDetalle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg modal-dialog-scrollable">
		    <div class="modal-content  div-encabezado">
		      <div class="modal-header">
		        <h4 class="modal-title div-encabezado" id="exampleModalLabel"></h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body div-interno-modal">
		          <div class="form-group">
		          
			          <div th:fragment="resultsList" th:unless="${#lists.isEmpty(prendasApartadas)}">
			          	<label th:if="${apartado.estatus == 'Apartada'}" >IMPORTE TOTAL:<span th:text="'$' + ${#numbers.formatDecimal(importeTotal, 0, 'COMMA', 2, 'POINT')}"></span></label><br>
			          	<label th:if="${apartado.estatus == 'Apartada'}">RESTA:<span th:text="'$' + ${#numbers.formatDecimal(restante, 0, 'COMMA', 2, 'POINT')}"></span></label>
			          	<label th:if="${apartado.estatus == 'Cancelada'}" >EL APARTADO SE CANCELÓ EL DÍA: <span th:text="${#dates.format(apartado.fechaCancelado, 'dd/MM/yyyy')}"></span></label>
			          	<label th:if="${apartado.estatus == 'Liquidada'}" >EL APARTADO SE LIQUIDÓ EL DÍA: <span th:text="${#dates.format(apartado.fechaLiquidado, 'dd/MM/yyyy')}"></span></label>
			          	<hr>
			            <table class="table table-hover table-striped mb-0">
			            	<thead class="table-head">
				            	<tr>
				            		<th>Inventario</th>
				            		<th>Categoría</th>
				            		<th>Precio</th>
				            	</tr>
				            </thead>
				            <tbody>
				            	<tr th:each="prenda : ${prendasApartadas}">
				            		<td th:text="${prenda.prenda.codigo}"></td>
				            		<td th:text="${prenda.prenda.categoria.nombre}"></td>
				            		<td th:text="'$' + ${#numbers.formatDecimal(prenda.prenda.precioVenta, 0, 'COMMA', 2, 'POINT')}"></td>
				            	</tr>
				            </tbody>
			            </table>
			            <hr>
		           		<div class="form-group">
				          <table class="table table-hover table-striped mb-0">
				            	<thead class="table-head">
					            	<tr>
					            		<th>Fecha</th>
					            		<th>Importe</th>
					            	</tr>
					            </thead>
					            <tbody>
					            	<tr th:each="abono : ${abonos}">
					            		<td th:text="${#dates.format(abono.fecha, 'dd-MM-yyyy')}"></td>
					            		<td th:text="'$' + ${#numbers.formatDecimal(abono.importe, 0, 'COMMA', 2, 'POINT')}"></td>
					            	</tr>
					            </tbody>
				            </table>
		         	 	</div>
		          		<div id="resultAbonos"></div>
		          		  <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					      </div>
			          </div>
		          	<div id="resultPrendas"></div>
		          </div>		          
		      </div>		      
		    </div>
		  </div>
		</div>
	  <!-- /Modal -->
    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>    
    <script th:src="@{/tinymce/tinymce.min.js}"></script>
    <script>   
	    $('#modalDetalle').on('show.bs.modal', function (event) {
	  	  var button = $(event.relatedTarget);
	  	  var idApartado = button.data('id');
	  	  var nombre = button.data('nombre');
	  	  var modal = $(this)
	  	  modal.find('.modal-title').text('Apartado de: ' + nombre);
		  consultaPrendas(idApartado);
	  	  //consultaAbonos(idApartado);
	  	})
	  	
	  	function consultaPrendas(idApartado){
	  		var url = "/ventas/consultaPrendas/"+idApartado;
	  		$("#resultPrendas").load(url);
	  	}
    	$('#modalCambioFecha').on('show.bs.modal', function (event) {
    	  var button = $(event.relatedTarget) 
    	  var id = button.data('id') 
    	  
    	  var modal = $(this)
    	  modal.find('.modal-title').text('Modificar fecha de venta ');
    	  modal.find('.codigo').val(id);
    	  modal.find('.desde').val($("#desde").val());
    	  modal.find('.hasta').val($("#hasta").val());
    	})
    
        $(function () {
            $("#desde").datepicker({dateFormat: 'dd-mm-yy'});
            $("#hasta").datepicker({dateFormat: 'dd-mm-yy'});
            $("#fVenta").datepicker({dateFormat: 'dd-mm-yy'});
          }
        );
    	
    	function exportar(){
    		if($("#desde").val() != "" && $("#hasta").val() != "" ){
    			$("#hdDesde").val($("#desde").val());
    			$("#hdHasta").val($("#hasta").val());
    			$("#formExportar").submit();
    		}else{
    			alert("Debe ingresar la fecha Desde y Hasta para poder exportar");
    			
    		}
    		return false;
    	}
        
      </script>
  </body>
</html>