@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.principal{
	background: linear-gradient(to bottom, #002BFF, #000000);
}
.div-encabezado{
	background: #61A9FF;
	border-radius: 15px;
	padding-bottom: 20px;
}
.div-encabezado-alert{
	background: #1b205c;
}
.div-interno{
/* 	background: #FAD5FF; */
	background: #FAD5FF;
	border-radius: 15px
}
.div-interno-modal{
/* 	background: #FAD5FF; */
	background: #FAD5FF;
}
.div-interno-alert{
	background: #c0c0c0;
}
h4 {
  font-family: 'Indie Flower', cursive;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 2.5em;
}
h4.alert {
  font-family: 'Indie Flower', cursive;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 2.5em;
}
.table-head{
	background-color: #61A9FF;
	font-size: 1.3em;
	color:#212529;
	text-shadow: 0 0 1px #FF0000;
}
.detalle{
	background: #D6EBFF;
}
.detalle-input{
    height: 2rem;
    margin: .5rem;
    background: none;
    border: none;
    border-bottom: 1px solid #61A9FF;
    width: 80%;
    text-align: center;
}
label{
	font-size: 1.7em;
	font-weight: bold;
}
.input-in, .detalle-input, .detalle{
	font-size: 1.2em;
	font-weight: bold;
}
th{
	font-size: 1.1em;
	font-weight: bold;
}
td{
	font-size: 1.4em;
	font-weight: bold;
}
.container{
	max-width: 1400px; 
}
.login{
	max-width: 600px; 
}
.alert{
	font-size: 20px;
	font-weight: bold;
}